# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.O

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Toolchain
gcc-*

# Build artefacts
kernel*
sdcard
mdx816*
*.zip
*.img

# Editor related files
*.swp
*.swo

CMSIS_5/
CMSIS-DSP/
circle-stdlib/
Synth_Dexed/
